@import 'salmon-framework';

.condensed-nav {
  top: 50px;
}
.pill-nav {
  top: 00px;
}
body {
  background-color: #FFE0E0;
}
h1 {
  text-align: center;
}

.buttons {
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}
.round , .squ, .alert-button {
  display: inline-block;
  
  padding: 10px;
}
.round > div , .squ > div, .alert-button > div {
  margin: 0 auto;
}

.clear {
  height: 100px;
}

.sign-up {
  margin-top: 50px;
}